# node modules
node_modules/

# Hugo output
resources/
public/
.hugo_build.lock

# Supporting tools
bin/

# API Generation
api-gen/build/

# IDEs
.vscode

assets/jsconfig.json
hugo_stats.json

# Executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux

# Temporary lock file while building
.hugo_build.lock
themes/**
.DS_Store