.nav-logo {
    display: inline-block;
    margin: 0 0;
    height: 42px;
}

img.height-50 {
    height: 50px;
}

.td-navbar .navbar-brand__name {
    display: none;
}

.td-footer__all_rights_reserved {
    display: inline;
}

.tradem img {
    width: 500px;
    height: auto;
}
