{{ if .IsHome }}
<footer class="bg-white">
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-image-text">
            <img src="img/cncf-logo.png" alt="Footer image">        
            <p class="mt-4">
                {{ .Site.Params.footer_cncf_note }}
            </p>
            <p class="mt-4">
              {{ .Site.Params.footer_note }}
            </p>
            <p class="mt-4">
                &copy; {{ .Site.Params.copyright }}.
            </p>


            <div class="footer-icons">
                {{- if .Site.Params.links.social }}
                <p class="mt-4">Find us on</p>
                {{ range .Site.Params.links.social }}
                      <a href="{{ .url}}" target="_blank" aria-label="{{ .name }}">
                          <i class="{{ .icon }}"></i>
                      </a>
                {{- end }}
                {{- end }}
              </div>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-columns">
            <div class="footer-column">
                <h4> Community </h4>
                <ul>
                    {{ with .Site.Params.links.footer.community.links }}
                        {{ range . }}
                        <li>
                            <a href="{{ .url }}" target="_blank" class="listss">
                                {{ .name }}
                              </a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
    
            <div class="footer-column">
                <h4> Developer Resources </h4>
                <ul>
                    {{ with .Site.Params.links.footer.developer.links }}
                        {{ range . }}
                        <li>
                            <a href="{{ .url }}" target="_blank" class="listss">
                                {{ .name }}
                              </a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>


            <div class="footer-column">
                <h4> Useful Links </h4>
                <ul>
                    {{ with .Site.Params.links.footer.help.links }}
                        {{ range . }}
                        <li>
                            <a href="{{ .url }}" target="_blank" class="listss">
                                {{ .name }}
                              </a>
                        </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>


            <div class="footer-column">
                <h4> Policies</h4>
                <ul>
                    {{ with .Site.Params.links.footer.policies.links }}
                        {{- range . }}
                            <li>
                                <a href="{{ .url }}" target="_blank" class="listss">
                                    {{ .name }}
                                  </a>
                                </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>

          </div>
      </div>
    </div>
  </footer>
{{ end }}