+++
title = "Shipwright"
linkTitle = "Shipwright"

+++

{{< blocks/cover title="Shipwright: A framework for building container images on Kubernetes" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<!-- <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/shipwright-io/build">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

Shipwright is an extensible framework for building container images on Kubernetes.

Declare and reuse build strategies to build your container images.

Shipwright supports popular tools such as
[Kaniko](https://github.com/GoogleContainerTools/kaniko),
[Cloud Native Buildpacks](https://buildpacks.io/), [Buildah](https://buildah.io/), and more!

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-ship" title="Release v0.12.0 Available!" %}}

Our latest release is now available on GitHub (<a href="https://github.com/shipwright-io/build/releases/tag/v0.12.0">Build Controller</a>, <a href="https://github.com/shipwright-io/cli/releases/tag/v0.12.0" target="_blank">CLI</a>, and <a href="https://github.com/shipwright-io/operator/releases/tag/v0.12.0">Operator</a>).
Read more in our <a href="/blog/2023/11/05/shipwright-v0.12.0-is-here/">blog post</a> and <a href="/blog/2023/11/07/introducing-shipwright-beta-api/">release notes</a>.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fab" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
Our source code is available on [GitHub](https://github.com/shipwright-io/build). Feel free to submit a [pull request](https://github.com/shipwright-io/build/pulls) - new users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab" %}}
{{% /blocks/feature %}}


{{< /blocks/section >}}

<small class="text-left"><a href="https://www.flickr.com/photos/95012874@N00/2483655809">"Container ship"</a><span> by <a href="https://www.flickr.com/photos/95012874@N00">Martin Pettitt</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" style="margin-right: 5px;">CC BY 2.0</a><a href="https://creativecommons.org/licenses/by/2.0/?ref=ccsearch&atype=html" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc_icon.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://search.creativecommons.org/static/img/cc-by_icon.svg" /></a></small>
