---
title: "Shipwright"
---

{{% blocks/lead color="primary" %}}
<div class="lead-block-container">
	<div class="lead-block-left">
		<h1 class="left-lead-title">
			Simplicity, Security <br> <span class="left-head-title-other">and Flexibility</span>
		  </h1>
		<div class="lead-subtitle">An extensible framework for building <br> container images in Kubernetes.</div>
		<div class="lead-buttons">
			<a href="/docs/getting-started/"class="btn-qs">
				<span class="text">Quick Start</span>
			</a>
			<a href="https://github.com/shipwright-io/build" class="btn-with-icon">
				<img src="/index/star.svg" alt="Icon" class="icon" href="https://github.com/shipwright-io/build">
				<span class="separator"></span>
				<span class="text">Star us on Github  </span>
			</a>
		</div>
	</div>
	<div class="lead-block-center">
		<img src="/index/shipwright-logo-stacked-1color-darkbg.svg" alt="Logo" class="logo">
	</div>


</div>
{{% /blocks/lead %}}

{{% blocks/section color="300" type="container" height="auto" %}}
	<section class="image-row-section">
		<div class="image-row">
			<img src="/index/build-tool-ko.svg" alt="Icon" class="imgko">
			<img src="/index/build-tool-bp.png" alt="Icon">
			<img src="/index/build-tool-buildah.png" alt="Icon">
			<img src="/index/build-tool-kaniko.svg" alt="Icon">
		</div>
	<div class="text-content">
		<h2>Shipwright supports popular tools such as ko, Cloud Native Buildpacks, and more!
			<br> to build your container images.</h2>
	</div>
</section>
{{< /blocks/section >}}

{{% blocks/section color="white" type="container" height="min" %}}
  <div class="video-content">
	<div class="video-text">
		<h2 class="video-title">Watch the latest video!</h2>
		<p class="video-description">
			Secure and Reliable Container Image Creation with Shipwright.
			@cdCon + GitOpsCon 2023
		</p>
	</div>
  	<div class="video-embed">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/7AdQX6p09nE?si=LUgaxJvi85mHCp4F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>
  </div>
{{< /blocks/section >}}



{{% blocks/section color="dark" type="row" %}}
{{% blocks/feature icon="fa-brands fa-github" title="Release v0.13.0 Available!" %}}
Our latest release is now available on GitHub (<a href="https://github.com/shipwright-io/build/releases/tag/v0.13.0">Build Controller</a>, <a href="https://github.com/shipwright-io/cli/releases/tag/v0.13.0" target="_blank">CLI</a>, and <a href="https://github.com/shipwright-io/operator/releases/tag/v0.13.0">Operator</a>).
Read more in our <a href="/blog/2024/03/27/shipwright-v0.13.0-is-here/">blog post</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-heart" title="Contributions welcome!" %}}
Our source code is available on [GitHub](https://github.com/shipwright-io/build). Feel free to submit a [pull request](https://github.com/shipwright-io/build/pulls) - new users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-sharp fa-light fa-people-group" title="Join Us!" %}}
Attend one of our community meetings - <br> see our public [calendar](https://calendar.google.com/calendar/embed?src=shipwright-admin%40lists.shipwright.io&ctz=America%2FNew_York)!.
{{% /blocks/feature %}}

{{< /blocks/section >}}
