+++
title = "Shipwright"
linkTitle = "Shipwright"
+++


{{< blocks/cover title="Shipwright: Build Containers on Kubernetes" image_anchor="top" height="med" color="dark">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/shipwright-io/build">
		Download <i class="fab fa-github ml-2 "></i>
	</a> -->
	<div></div>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<p>Shipwright is an extensible framework for building container images on Kubernetes.</p>

<p>Declare and reuse build strategies to build your container images.</p>

<p>Supports popular tools such as
<a href="https://github.com/GoogleContainerTools/kaniko">Kaniko</a>,
<a href="https://buildpacks.io/">Cloud Native Buildpacks</a>,
<a href="https://buildah.io/">Buildah</a> and more!
</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="row">}}

{{% blocks/feature icon="fab" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-ship" title="Shipwright v0.15 is Available!" %}}

<p>
Our latest release is now available on GitHub (<a href="https://github.com/shipwright-io/build/releases/tag/v0.15.2">Build Controller</a>, <a href="https://github.com/shipwright-io/cli/releases/tag/v0.15.0" target="_blank">CLI</a> and <a href="https://github.com/shipwright-io/operator/releases/tag/v0.15.2">Operator</a>).
Read more in our <a href="blog/2025/03/03/shipwright-v0.15-is-here/">blog post</a>.
</p>

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section type="row" >}}

{{% blocks/feature icon="fab" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}

Our source code is available on [GitHub](https://github.com/shipwright-io).

{{% /blocks/feature %}}

{{% blocks/feature icon="fab" %}}
{{% /blocks/feature %}}
{{< /blocks/section >}}

<small class="text-left"><a href="https://www.flickr.com/photos/surveying/14772788848/">Photo</a><span> by <a href="https://www.flickr.com/photos/surveying/">Jnzl</a></span> is licensed under <a href="https://creativecommons.org/licenses/by/2.0/" style="margin-right: 5px;">CC BY 2.0</a><a href="https://creativecommons.org/licenses/by/2.0/" target="_blank" rel="noopener noreferrer" style="display: inline-block;white-space: none;margin-top: 2px;margin-left: 3px;height: 22px !important;"><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" /><img style="height: inherit;margin-right: 3px;display: inline-block;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" /></a></small>
